<!--<% if @posts %>-->
<ul>

<% @posts.each do |p|%>
<% if session[:id] != nil%>
<h3>Author:
  <%=User.find(p.user_id).name%>
</h3>
<%end%>
<li>
<h3><%=p.title%></h3>
<p>
   <%= p.content%>
</p>
</li>
<% end %>
</ul>
<!--<%end%>-->
